@import '../../assets/scss/mixins';
@import '../../assets/scss/variables';

.button {
  @include text(14, white, bold);
  align-items: center;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-height: 36px;
  outline: none;
  padding: 0.625rem 1rem;
  &.button--primary {
    background-color: map-get($colors, primary);
    &:hover {
      background: darken(map-get($colors, primary), 5%);
    }
    &:active {
      background: darken(map-get($colors, primary), 10%);
    }
    &.button--outline {
      background-color: transparent;
      border: 1px solid map-get($colors, primary);
      color: map-get($colors, primary);
      &:hover {
        background: rgba(map-get($colors, primary), 0.2);
      }
      &:active {
        background: rgba(map-get($colors, primary), 0.4);
      }
    }
  }
  &.button--secondary {
    @include text(14, grey-90, medium);
    background-color: map-get($colors, white);
    border: 1px solid map-get($colors, grey-30);
    &:hover {
      background: map-get($colors, grey-30);
    }
  }
}
