@import '../../../../assets/scss/variables';

.crimeModal {
  padding: 0 1rem 1rem;
  &__groupFields {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    .crimeField {
      margin: 0 0 1rem;
    }
  }
}
