@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/variables';

.resetPasswordCard {
  width: 70%;
  margin: auto;
  &__header {
    margin: 0 0 2rem;
    .resetPasswordTitle {
      @include text(18, grey-90, bold);
      margin: 0 0 0.25rem;
    }
    .resetPasswordDescription {
      @include text(14, grey-70);
    }
  }
  &__content {
    .resetPasswordInput {
      margin: 0 0 0.5rem;
    }
    .resetPasswordButton {
      margin: 2rem 0 0;
    }
  }
}

@media (max-width: map-get($breakpoints, md )) {
  .resetPasswordCard {
    width: 90%;
  }
}
