@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/variables';

.resetPasswordCard {
  width: 60%;
  margin: auto;
  &__header {
    margin: 0 0 2rem;
    .resetPasswordTitle {
      @include text(18, grey-90, bold);
      margin: 0 0 1rem;
      text-align: center;
    }
    .resetPasswordDescription {
      @include text(14, grey-70);
      text-align: center;
    }
  }
  &__successCard {
    background-color: map-get($colors, success);
    border-radius: 0.25rem;
    padding: 1rem;
    margin: 0 0 1rem;
    .successMessage {
      @include text(14, white);
    }
  }
  &__content {
    .resetPasswordInput {
      margin: 0 0 1.5rem;
    }
    .resetPasswordButton {
      margin: 2rem 0 0;
      width: 100%;
    }
  }
}

@media (max-width: map-get($breakpoints, md )) {
  .resetPasswordCard {
    width: 90%;
  }
}
