@import '../../assets/scss/mixins';
@import '../../assets/scss/variables';

$asideWidth: 220px;
$topHeight: 60px;

.mainLayout {
  align-items: stretch;
  display: flex;
  height: 100vh;
  &__aside {
    background-color: map-get($colors, white);
    border-right: 1px solid map-get($colors, grey-10);
    min-width: $asideWidth;
    .asideLogo {
      align-items: center;
      display: flex;
      height: $topHeight;
      padding: 0 1.5rem;
      &__name {
        @include text(18, primary, bold);
      }
    }
    .asideOptions {
      &__mobile {
        display: none;
      }
    }
  }
  &__right {
    flex: 1;
    max-height: 100vh;
    overflow-y: scroll;
    .rightHeader {
      align-items: center;
      display: flex;
      height: $topHeight;
      padding: 1rem;
    }
    .rightContent {
      padding: 0 1rem;
    }
  }
  &__loadingReport {
    position: absolute;
    bottom: 0;
    right: 50px;
    .loadingBox {
      width: 200px;
      background-color: map-get($colors, white);
      border-radius: 0 0.25rem 0.25rem 0;
      box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 14%),
        0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
      padding: 1rem 1.5rem;
      text-align: center;
      &__text {
        @include text(14, grey-90, medium);
        margin: 0 0 1rem;
      }
      &__line {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 15px;
        background-color: #4b9cdb;
        &:nth-last-child(1) {
          animation: loadingAnimation 1.5s 1s infinite;
        }
        &:nth-last-child(2) {
          animation: loadingAnimation 1.5s 0.5s infinite;
        }
        &:nth-last-child(3) {
          animation: loadingAnimation 1.5s 0s infinite;
        }
      }
    }
  }
}

@keyframes loadingAnimation {
  0% {
    width: 15px;
  }
  50% {
    width: 35px;
  }
  100% {
    width: 15px;
  }
}

@media (max-width: map-get($breakpoints, md )) {
  .mainLayout {
    flex-direction: column;
    &__aside {
      display: block;
      min-width: 100%;
      .asideLogo {
        justify-content: center;
      }
      .asideOptions {
        position: absolute;
        top: 0;
        z-index: 6;
        &.asideOptions--show {
          background-color: rgba(map-get($colors, black), 0.5);
          height: 100vh;
          width: 100vw;
        }
        &__desktop {
          display: none;
        }
        &__mobile {
          display: block;
          .menuButton {
            align-items: center;
            background-color: transparent;
            border: none;
            border-right: 1px solid map-get($colors, grey-30);
            display: flex;
            height: $topHeight;
            justify-content: center;
            width: $topHeight;
            &__icon {
              @include text(28, grey-50);
            }
          }
          .menuContent {
            display: none;
          }
          &.asideOptions__mobile--show {
            background-color: map-get($colors, white);
            height: 100vh;
            width: 70%;
            .menuContent {
              border-top: 1px solid map-get($colors, grey-30);
              display: block;
            }
          }
        }
      }
    }
  }
}
