@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/variables';

$topHeight: 60px;

.authLayout {
  align-items: stretch;
  display: flex;
  height: 100vh;
  &__aside {
    align-items: center;
    background-color: map-get($colors, primary);
    display: flex;
    justify-content: center;
    width: 55%;
    .asideLogo {
      &__name {
        @include text(28, white, bold);
      }
    }
  }
  &__content {
    background-color: map-get($colors, white);
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
  }
}

@media (max-width: map-get($breakpoints, md )) {
  .authLayout {
    flex-direction: column;
    &__aside {
      width: 100%;
      height: $topHeight;
      .asideLogo {
        &__name {
          @include text(18, white, bold);
        }
      }
    }
    &__content {
      min-height: calc(100vh - $topHeight);
    }
  }
}
