@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/variables';

.crimeFilters {
  padding: 1rem;
  &__title {
    @include text(14, grey-90, bold);
    margin: 0 0 0.5rem;
  }
  &__options {
    margin: 0.5rem 0 0;
    .filterItems {
      &__field {
        margin: 0 0 0.5rem;
        width: 200px;
      }
    }
    .filterButtons {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      &__item {
        margin: 0 0.5rem 0 0;
        flex: 1;
        height: 36px;
        &:last-of-type {
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: map-get($breakpoints, md )) {
  .crimeFilters {
    &__options {
      .filterButtons__item {
        margin: 0 0.5rem 0.5rem 0;
        &:last-of-type {
          margin: 0 0 0.5rem;
        }
      }
    }
  }
}
