@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/variables';

.dashboardPage {
  &__cards {
    display: flex;
    flex-wrap: wrap;
    .chartCard {
      flex: 2;
      margin: 0 1rem 0 0;
      &__title {
        display: flex;
        .titleText {
          @include text(16, black, bold);
          align-self: flex-start;
        }
      }
      &:last-of-type {
        margin: 0;
        flex: 1;
      }
    }
  }
}

@media (max-width: map-get($breakpoints, md )) {
  .dashboardPage {
    &__cards {
      .chartCard {
        margin: 0 0 1rem;
      }
    }
  }
}
