@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/variables';

.dashboardPage {
  &__cards {
    display: flex;
    flex-wrap: wrap;
    .chartCard {
      flex: 1;
      margin: 0 1rem 0 0;
      &__title {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 0 1rem;
        .titleText {
          @include text(14, black, medium);
        }
        .titleSelect {
          width: 120px;
          &.titleSelect--large {
            width: 175px;
          }
        }
      }
      &:last-of-type {
        margin: 0;
        flex: 2;
      }
    }
  }
}

@media (max-width: map-get($breakpoints, md )) {
  .dashboardPage {
    &__cards {
      .chartCard {
        margin: 0 0 1rem;
      }
    }
  }
}
