@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/variables';

.userDetailModal {
  padding: 0 1rem 1rem;
  &__data {
    .userData {
      margin: 0 0 1rem;
      &__label {
        @include text(14, grey-90, medium);
      }
      &__value {
        @include text(12, grey-90);
        margin: 0.25rem 0 0;
      }
    }
  }
  &__buttons {
    display: flex;
    justify-content: flex-end;
    .itemButton {
      margin: 0.5rem;
      &:last-of-type {
        margin: 0.5rem 0 0.5rem 0.5rem;
      }
    }
  }
}
