@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/variables';

.loginCard {
  width: 60%;
  margin: auto;
  &__header {
    margin: 0 0 2rem;
    .loginTitle {
      @include text(18, grey-90, bold);
      margin: 0 0 1rem;
      text-align: center;
    }
    .loginDescription {
      @include text(14, grey-70);
      text-align: center;
    }
  }
  &__errorCard {
    background-color: map-get($colors, danger);
    border-radius: 0.25rem;
    padding: 1rem;
    margin: 0 0 1rem;
    .loginError {
      @include text(14, white);
    }
  }
  &__content {
    .loginInput {
      margin: 0 0 1.5rem;
    }
    .loginLink {
      @include text(14, grey-70);
      text-decoration: underline;
      cursor: pointer;
    }
    .loginButton {
      margin: 2rem 0 0;
      width: 100%;
    }
  }
}

@media (max-width: map-get($breakpoints, md )) {
  .loginCard {
    width: 90%;
  }
}
